@using WebApplication1.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ShowDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    WebSiteContext w = new WebSiteContext();
foreach(var item in w.Istifadecilers)
{
    if (Convert.ToInt32(ViewData["id"]) == item.Id)
    {
        <h2 style="padding-left:20%">@item.Name @item.Surname</h2>
        <div class="animate-box" style="padding-left:20%">
            <img src="~/images/@item.Photo" alt="Photo">
            <div>Ad: @item.Name</div>
            <div>Soyad: @item.Surname</div>
            <div>Oxuduğu Universitet: @item.Uni</div>
            <div>Haqqında: @item.About</div>
                
            @if(ViewBag.Ad == "Admin")
            {
                <a href="/Home/Delete?id=@item.Id" class="btn btn-warning">Delete Profile</a>
                <br />
                    <a href="/Home/UpdateUser?id=@item.Id" class="btn btn-primary">Update Profile</a>
            }
                
        </div>
            
    }
}
}

<div style ="padding-left:20%">
    <a href="/AnaSehife">Back to List</a>
</div>

